<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_details %>
    <%= f.text_area :team_details %>
  </div>

  <div class="field">
    <%= f.label :sport %>
    <%= f.text_field :sport %>
  </div>

  <div class="field">
    <%= f.label :game_date %>
    <%= f.date_select :game_date %>
  </div>

  <div class="field">
    <%= f.label :points %>
    <%= f.number_field :points %>
  </div>

  <div class="field">
    <%= f.label :created_at %>
    <%= f.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= f.label :transaction_id %>
    <%= f.number_field :transaction_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
