<p id="notice"><%= notice %></p>

<p> <strong>Your historical optimal lineups</strong> </p>

<% if @teams != nil %>
<tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><img src="<%= team.image_url %>" width="80"></td>
        <td><%= team.team_details %></td>
        <td><%= team.sport %></td>
        <td><%= team.game_date %></td>
        <td><%= team.points %></td>
      </tr>
    <% end %>
  </tbody>
<% else %>
<p> You have not generated any optimal teams yet </p>
<% end %>

